doctype xml
ApexPage(xmlns=htmlWebpackPlugin.options._xmlns)
  apiVersion= htmlWebpackPlugin.options.apiVersion
  availableInTouch= htmlWebpackPlugin.options.mobile
  confirmationTokenRequired false
  label= htmlWebpackPlugin.options.apiName
